.ctaButtonSliderOverride {
    font-size: 20px !important;
}

.ctaButtonSliderOverride > a > span{
    font-size: 15px !important;
    vertical-align: inherit;
}

.ctaButtonSliderOverride > a > i{
    font-size: 15px !important;
    vertical-align: inherit;
}

.primaryTextColor a, .main-heading, .font-p2, h5, .primaryTextColor{
    color: rgb(255, 255, 255);
}

.primaryBackgroundColor {
    background-color: rgb(27, 37, 42, 0) !important;
}

.ctaPrimaryBg {
    background-color: #F24738 !important;

}

.mainHeader {
    background: rgba(27, 37, 42, 1) !important;
    border: none !important;
    color: white; !important;
    width: 100vw;
    min-height: 60px;
}

.NNVlogo {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 170px !important;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
}

.logo-static {
    margin-top: 12px;
}

.team-thumb-img {
    width: 90%;
    height: 90%;
}

@keyframes donut-anim {
    0% {
        transform: rotate(-80deg);
        background-color: #F24738;
    }
    33% {
        background-color: #06f0c8;
    }
    66% {
        background-color: #d50000;
    }
    100% {
        background-color: #F24738;
        transform: rotate(-440deg);
    }
}

.circle_logo {
    animation: donut-anim 40s linear infinite;
    width: 217px;
    height: 217px;
    -webkit-mask-image: url("images/Donut_1.png");
    mask-image: url("images/Donut_1.png");
}

.imageBanniere {
    height: 100vh !important;
}

.subtitle_stats {
    margin-bottom: 5px;
    color: white;
    opacity: 0.9;
    font-size: 0.8em;
    width: 100%;
    text-align: right;
}

.downPercent {
    font-size:0.4em;
    color: #06f0c8
}

.tooltip-wrapper {
    position: absolute;
    display: inline-block;
}

.tooltip-icon {
    cursor: pointer;
    font-size: 0.8em;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    min-width: 150px;
}

.tooltip-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
    bottom: 100%;
}

.emptyWallet {
    position: relative;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 180px;
    background-image: url("/images/empty_wallet.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 40px;
    overflow: hidden;
    z-index: 2;
}

.emptyWalletMoney {
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url("/images/empty_wallet_money_v1-1.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top left;
    right: 50%;
    transform: translateX(50%) rotate(-90deg);
    margin-top: -54px;
    z-index: 1;
    transition-duration: 1s;
}



.emptyWalletMoneyActive {
    transform: translateX(50%) rotate(-60deg);
    opacity: 0;
    transition-duration: 1s;
}

.planet {
    position: relative;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 180px;
    background-image: url("/images/planet_v1.png");
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 60px;
    overflow: hidden;
    z-index: 1;
    transition-duration: 1s;
}

.planetActive {
    background-position-y: -10px;
    transition-duration: 1s;
    background-size: 200px;
}

.cloud1 {
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url("/images/cloud_v1.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top left;
    transition-duration: 1s;
    top: 0;
    right: 50%;
    transform: translate(30%, 105%);
    z-index: 2;
}

.cloud1Active {
    transform: translate(0%, 105%);
    opacity: 0;
    transition-duration: 1s;
}

.cloud2 {
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url("/images/cloud_reverse_v1.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 1s;
    top: 0;
    right: 50%;
    transform: translate(70%, 90%);
    z-index: 3;
}

.cloud2Active {
    transform: translate(100%, 90%);
    opacity: 0;
    transition-duration: 1s;
}

/*
*
*
*
styles.css overrides
*
*
*
 */

.chart-item > h2 {
    height: 60px;
}

.chart-item > span {
    font-size: 1.1em;
}

.mmenu_wrapper {
    float: right;
}

.innerCtabutton {
    margin: auto;
    font-size: 15px !important;
    vertical-align: inherit;
}

.header_mobile > div > div {
    display: inline-table;
}

.header_mobile > div > div > div:nth-child(1) {
    float: left;
}

.header_mobile > div > div > div:nth-child(2) {
    float: right;
}

h4 {
    font-size: 20px !important;
}

@media only screen and (max-width: 1199px) {
    .header_mobile .mlogo_wrapper {
        background-color: rgba(27, 37, 42, 1) !important;
        width: 100%;
    }

    .header_mobile > .container
    {
        min-height: 75px;
    }
}

.ot-cprocess-item-desc > p {
    color: rgba(255, 255, 255, 0.8);
}

.ft-menu-item {
    color: white !important;
}

.content-box > p {
    color: rgb(208, 208, 208);
}

.icon-main > span {
    font-size: 30px;
    margin-top: 15px;
}

.shape-fill {
    fill: rgba(27, 37, 42, 1) !important;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.04) !important;
}

div .custom.tp-bullets .tp-bullet:hover, div .custom.tp-bullets .tp-bullet.selected
{
    color : #F24738 !important;
}

li .current-menu-item > a {
    color : #F24738 !important;

}

.mobile_mainmenu > li {
    background-color: rgba(27, 37, 42, 1) !important;
    color: white !important;
    border: 0 !important;
}

.mobile_mainmenu > li > a, .sub-menu > li > a, .menuButtonToggle {
    color: white !important;
}

.menuButtonToggle{
    color: white !important;
}

.main-navigation ul ul {
    background-color: #0b0b0b;
}

div .custom.tp-bullets .tp-bullet {
    color : #FFF !important;
}

div .custom .tp-bullet:after {
    background: #F24738 !important;
}

.main-navigation ul > li > a {
    color: white !important
}

.frSelectBackground {
    background-image: url("../images/fr_flag.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.enSelectBackground {
    background-image: url("../images/en_flag.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

/* Style du conteneur */
.custom-select {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: grid;
    align-content: space-evenly;
}

/* Style du select natif */
#languageSelector {
    width: auto;
    height: 50px;
    font-size: 0;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    z-index: 2;
    display: contents;
}

#languageSelector > label {
    display: none;
}

/* Changements lors du survol */
.custom-select:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.custom-select:hover:after {
    background: #F04C28; /* encore un peu plus foncé au survol */
}

input[type="radio"]{
    appearance: none;
    -moz-appearance: none;
    margin: 0 5px 0 5px;
}

input[type="radio"]:hover{
    cursor: pointer;
}

input[type="radio"]:checked {
    border: solid 1px #F04C28;
    border-radius: 25px;
}