.ctaButtonSliderOverride {
    font-size: 20px !important;
}

.ctaButtonSliderOverride > a > span{
    font-size: 15px !important;
    vertical-align: inherit;
}

.ctaButtonSliderOverride > a > i{
    font-size: 15px !important;
    vertical-align: inherit;
}

.primaryTextColor a, .main-heading, .font-p2, h5, .primaryTextColor{
    color: rgb(255, 255, 255);
}

.primaryBackgroundColor {
    background-color: rgb(27, 37, 42, 0) !important;
}

.ctaPrimaryBg {
    background-color: #F24738 !important;

}

.mainHeader {
    background: rgba(27, 37, 42, 1) !important;
    border: none !important;
    color: white; !important;
    width: 100vw;
    min-height: 60px;
}

.NNVlogo {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 170px !important;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
}

.logo-static {
    margin-top: 12px;
}

.team-thumb-img {
    width: 90%;
    height: 90%;
}

@keyframes donut-anim {
    0% {
        transform: rotate(-80deg);
        background-color: #F24738;
    }
    33% {
        background-color: #06f0c8;
    }
    66% {
        background-color: #d50000;
    }
    100% {
        background-color: #F24738;
        transform: rotate(-440deg);
    }
}

.circle_logo {
    animation: donut-anim 40s linear infinite;
    width: 217px;
    height: 217px;
    -webkit-mask-image: url("images/Donut_1.png");
    mask-image: url("images/Donut_1.png");
}

.imageBanniere {
    height: 100vh !important;
}

/*
*
*
*
styles.css overrides
*
*
*
 */

.mmenu_wrapper {
    float: right;
}

.innerCtabutton {
    margin: auto;
    font-size: 15px !important;
    vertical-align: inherit;
}

.header_mobile > div > div {
    display: inline-table;
}

.header_mobile > div > div > div:nth-child(1) {
    float: left;
}

.header_mobile > div > div > div:nth-child(2) {
    float: right;
}

h4 {
    font-size: 20px !important;
}

@media only screen and (max-width: 1199px) {
    .header_mobile .mlogo_wrapper {
        background-color: rgba(27, 37, 42, 1) !important;
        width: 100%;
    }

    .header_mobile > .container
    {
        min-height: 75px;
    }
}

.ot-cprocess-item-desc > p {
    color: rgba(255, 255, 255, 0.8);
}

.ft-menu-item {
    color: white !important;
}

.content-box > p {
    color: rgb(208, 208, 208);
}

.icon-main > span {
    font-size: 30px;
    margin-top: 15px;
}

.shape-fill {
    fill: rgba(27, 37, 42, 1) !important;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.04) !important;
}

div .custom.tp-bullets .tp-bullet:hover, div .custom.tp-bullets .tp-bullet.selected
{
    color : #F24738 !important;
}

li .current-menu-item > a {
    color : #F24738 !important;

}

.mobile_mainmenu > li {
    background-color: rgba(27, 37, 42, 1) !important;
    color: white !important;
    border: 0 !important;
}

.mobile_mainmenu > li > a, .sub-menu > li > a, .menuButtonToggle {
    color: white !important;
}

.menuButtonToggle{
    color: white !important;
}

.main-navigation ul ul {
    background-color: #0b0b0b;
}

div .custom.tp-bullets .tp-bullet {
    color : #FFF !important;
}

div .custom .tp-bullet:after {
    background: #F24738 !important;
}

.main-navigation ul > li > a {
    color: white !important
}

.frSelectBackground {
    background-image: url("../images/fr_flag.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.enSelectBackground {
    background-image: url("../images/en_flag.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

/* Style du conteneur */
.custom-select {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: grid;
    align-content: space-evenly;
}

/* Style du select natif */
#languageSelector {
    width: auto;
    height: 50px;
    font-size: 0;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    z-index: 2;
    display: contents;
}

#languageSelector > label {
    display: none;
}

/* Changements lors du survol */
.custom-select:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.custom-select:hover:after {
    background: #F04C28; /* encore un peu plus foncé au survol */
}

input[type="radio"]{
    appearance: none;
    -moz-appearance: none;
    margin: 0 5px 0 5px;
}

input[type="radio"]:hover{
    cursor: pointer;
}

input[type="radio"]:checked {
    border: solid 1px #F04C28;
    border-radius: 25px;
}